%layout-navigation__text {
    cursor: pointer;
    color: #333333;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    border-bottom: 5px solid transparent;
    width: fit-content;

    @include for-size(md) {
        font-size: 24px;
    }

    &:hover {
        color: #FC777A;
    }
}

%layout-navigation__text--active {
    @extend %layout-navigation__text;
    color: #FC777A;
    border-bottom: 5px solid #F7D1BE;
}

.layout {
    display: flex;
    flex-direction: column;
}


.layout__header {
    padding: 0;
    flex-direction: column;

    &__menu-btn {
        display: flex;
        padding: 12px;
        background-color: #fff;
        box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.75);
    }

    @include for-size(md) {
        z-index: 90;
        display: flex;
        padding: 18px 62px;
        position: absolute;
        width: 100%;

        &__menu-btn {
            display: none;
        }
    }

    &__navigations {
        display: flex;
        flex-direction: column;
        padding: 12px;
        background-color: #fff;

        @include for-size(md) {
            width: 100%;
            flex-direction: row;
            box-shadow: unset;

            >a:first-child {
                margin-right: auto;
            }

            >a:not(:last-child):not(:first-child) {
                margin-right: 32px;
            }
        }
    }

    &__navigation {
        @extend %layout-navigation__text;

        &--home {
            &:after {
                content: 'Home';
            }

            img {
                display: none;

                @include for-size(md) {
                    width: 31px;
                    height: 31px;
                    display: inline;
                }
            }

            @include for-size(md) {
                &:after {
                    content: unset
                }
            }
        }
    }

    &__navigation--active {
        @extend %layout-navigation__text--active;
    }
}

.layout__header--scrolled {
    width: 100%;
    top: 0;
    position: fixed;
    background-color: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 90;
    padding: 0px;

    @include for-size(md) {
        padding: 18px 62px;
    }
}