.detail {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.detail__title {
    font-weight: 600;
    font-size: 31px;
    color: #616161;
    text-align: center;
    padding-top: 25px;
    margin: 50px 0;
}

.compare__detail__grid {
    margin-top: 50px;
    margin: 50px auto;
    display: grid;
    justify-content: center;
    grid-gap: 15px 8px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));

    @include for-size(md) {
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    }
}

.detail__sprites {
    width: 100%;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;

    border-radius: 10px;
    box-shadow: 0 0 16px #e5e5e5;
    position: relative;
    transform: scale(0.97);
    padding: 25px;


    &__title {
        font-weight: 600;
        font-size: 21px;
        color: #616161;
        text-align: center;
        padding-top: 25px;
    }

    &__img {
        width: 150px;

    }

    &:hover {
        transition: 0.5s;
        transform: scale(1);

        .home__grid__item__content__image {
            transition: 0.5s;
            transform: scale(1);
        }
    }
}

.detail__table {
    border-collapse: collapse;
    min-width: 100%;
    margin-bottom: 50px;

    table {
        width: 100%;
    }

    th {
        padding: 20px 5px;
        border-top: 1px solid #E4E7E7;
        border-bottom: 1px solid #C9CFCE;
        color: #031615;
        font-weight: bold;
        font-size: 10px;
        letter-spacing: 0.181818px;
        text-transform: uppercase;
    }

    thead th,
    tbody td {
        padding: 12px 10px;
    }

    td {
        vertical-align: text-top;
        border-bottom: 1px solid #E4E7E7;
        text-align: center;
        padding: 10px 5px;
        font-size: 12px;
    }
}

.detail__table__compare {
    @extend .detail__table;

    td {
        text-align: left;
    }

}